.top-header ul li a:hover,
.star-blog span,
.filter-1:hover,
.box-caption-title h4 a:hover,
.team-detail h4 a:hover,
.testimonial-detail:hover .testimonial-details h3,
.testimonial-details h4 a:hover,
.blog-detail h4 a:hover,
a.read-btn,
.theme-color,
ul.footer-details li a:hover,
.blog-detail ul li a:hover,
.loader h3,
.breadcrumb-text h3,
.active a,
.widget ul li a:hover,
.recent-work p a,
.recent-work h5 a:hover,
.blockquote-box:before,
.blockquote-box:after,
.blogs ul li a:hover,
.blogs .bdr h3 a:hover,
.service-details a i,
ul.nav.navbar-nav li a:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,
.filter-texts p a,
.box-caption-title ul li i,
.error-content h2 {
	color: #3ab0ff;
}
.itg-button:hover,
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span,
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
.service-details:hover,
.theme-heading span,
figure.hover-section:after,
.icon-hover li:hover,
.team-box figure.hover-section:before,
.facts:hover,
.pricing-box:hover .months-box h4,
.pricing-box:hover .price-btn .itg-button,
.special-style-dark-theme:before,
.loading .loader-top:before,
.contact-icn ul li i:hover,
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, 
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover,
.tags .num,
.pagination-box span:hover,
.filter-section-search,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.sidebar-search .button-style {
	background-color: #3ab0ff;
}

.facts:hover,
.pricing-box:hover,
a.read-btn:hover,
.ui-state-active, 
.ui-widget-content .ui-state-active, 
.ui-widget-header .ui-state-active,
a.ui-button:active, 
.ui-button:active, 
.ui-button.ui-state-active:hover,
.pagination-box span,
.dropdown-menu {
	border-color: #3ab0ff;
}